<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930941165117-2tp56iujcfaj9fhn7slc7bul1m6bberg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930941165117-2tp56iujcfaj9fhn7slc7bul1m6bberg</string>
	<key>API_KEY</key>
	<string>AIzaSyBVT-JNfH8M806JExQZ95-taW4kHUrgp8U</string>
	<key>GCM_SENDER_ID</key>
	<string>930941165117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedhany.Chatzy</string>
	<key>PROJECT_ID</key>
	<string>chatzy-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>chatzy-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930941165117:ios:eef801396a911605ce9454</string>
</dict>
</plist>